<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Dojo Dachi</title>
    <meta description='Dojo Dachi App'>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="~/js/dachi.js"></script>
    <link rel='stylesheet' type='text/css' href='~/css/styles.css' />
</head>
<body>
    <div id='wrapper'>
        <div id="dachiheader">
            <h3>Welcome to Dojo Dachi</h3><br>
            <!-- <p>To play: enter your Dachi's name and click Play</p>
            <input type=text id="dachinameinput" placeholder="Enter your Dachi's name here"> -->
        </div>
        <div id="scores">
            <div id="fullnessscore" class="score">
                Fullness: @CurrFullness
            </div>
            <div id="happinessscore" class="score">
                Happiness: @CurrHappiness
            </div>
            <div id="mealscore" class="score">
                Meals: @CurrMeals
            </div>
            <div id="energyscore" class="score">
                Energy: @CurrEnergy
            </div>
        </div>
        <div id="dachi">
            <div id="dachiimage">
                <img src="~/img/dachiimage.png" alt="Dachi Image">
            </div>
            <div id="dachifeedback">
                You played with your Dojodachi! Happiness +10, Energy -5
            </div>
        </div>
        <div id="dachiactions">
            <button id='feed'>Feed</button>
            <button id='play'>Play</button>
            <button id='work'>Work</button>
            <button id='sleep'>Sleep</button>
        </div>
    </div>
</body>
</html>